{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>
<body>
    <div class="all">
        <h3 class="title">Suggested Price Range:</h3>
        <h3>{{lower}}€ - {{higher}}€</h3>
    </div>
</body>
</html>

<style>
    body{
     background: url("{% static 'room.jpeg'%}") no-repeat center center fixed;
     -webkit-background-size:cover;
     -moz--background-size:cover;
     -o--background-size:cover;
     background-size: cover;
    }
</style>

